{% extends 'base.html' %}
{% load static %}
{% block title %}
my blog
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}"
<link rel="stylesheet" href="{% static 'blog/index.css' %}"

{% endblock  %}


{% block content %}

<section id="welcome">
<header>
<img src="{% static 'blog/images/ayu.jpg' %}" alt="ayush-author of this blog"/>
<h2>Ayush Srivastav's Blog</h2> 
</header>
<p>hi,i am ayush and i love to blog about tech and the world</p>
</section>
<section id="latest-posts">
<h2>My latest thoughts</h2>
<ul>
{% for post in posts  %}
  {% include "blog/include/post.html" %}
{% endfor %}
</ul>


</section>
<section id="about">
<h2>What i do</h2>
<p>i love programming , i love to explore thing and i love to enjoy the nature</p>
<p>
my goal is to keep growing as a devloper
</p>
</section>
{% endblock %}

