{% extends 'base.html' %}
{% load static %}
{% block title %}
this post
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/potp-detail.css' %}"
{% endblock  %}
{% block content %}
<section id="summary">
<h2>{{post.title}}</h2>
<article>
   <img src="{{post.image.url}}" alt="{{post.title}}"
   <address><a href="mailto:{{post.author.email_address}}">{{post.author}}</a> </address>
     <div>
          {{post.date}}
     </div>
</article>
</section>
<div id = 'read later'>
   <form action = {% url 'read_later' %} method = 'POST'>
   {% csrf_token %}
   <input type = 'hidden' value = "{{post.id}}" name = 'post_id'>
   <button>
   {% if show %}
      <button>remove from read later 
     {% else %} 
      read later 
   {% endif %}  
   </button>
   </form>
</div>
<main>
  
     {{post.content}}
  
</main>
<section id = 'comments'>
   {% for comment in comments %}
      <h2>
      {{comment.username}}
      </h2>
      <p>
      {{comment.text}}
 
        
      </p>
   
   {% endfor %}
</section>
<section id = 'comment-form'>
 <h2> your comment </h2>
   <form action = {% url 'post-detail-page' post.slug %} method = 'POST'>
         {% csrf_token %}
        {% for comment_field in comments_forms %}
           <div class = 'form-control'>
            {{comment_field.label}}
            {{comment_field}}
            </div>
        {% endfor %}
      
        <button> save comment </button>
        
   </form> 

</section>
{% endblock %}