{% load static %}
<!Doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <title>{% block title %}{%endblock  %} </title>
   <link rel="stylesheet" href="{% static 'app.css' %}">
   {% block css_files %}{% endblock %}
</head>
<header id="main-navigation">
<h1><a href="{% url 'starting-page' %}"> Ayush's blog</a></h1>
<nav>
<a href = '{% url 'read_later' %}'> stored post </a>
<a href="{% url 'post-page' %}">all posts</a>
</nav>
</header>

<body>
{% block content %}
{% endblock  %}
  
</body>
</html>